<section id="recent-posts" class="recent-posts">

    <div class="container section-title" data-aos="fade-up">
      <h2>Trending Categories</h2>
      <p>Get started with some of most interesting peopele and seek valuable knowledge</p>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <article>

            <div class="post-img">
              <img src="assets/img/canva/travel/2.jpg" alt="" class="img-fluid">
            </div>

            <p class="post-category">Travel</p>

            <p class="post-author">5.0⭐ (2311 views)</p>
            <h2 class="title">
              Best Places for Street food, date etc.. in Hyderabad
            </h2>

            <div class="d-flex align-items-center">
              <img src="assets/img/blog/blog-author-2.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">Kalki Saxena</p>
                <p class="post-date"></p>
              <a href="tel:918143916500"><button type="button" class="btn btn-success">Call</button></a>
              <a href="chat.ejs"><button type="button" class="btn btn-primary">Chat</button></a>
              </div>
              
            </div>
          </article>
        </div>

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <article>

            <div class="post-img">
              <img src="assets/img/canva/travel/1.jpg" alt="" class="img-fluid">
            </div>

            <p class="post-category">Travel</p>
            <p class="post-author">4.7⭐ (3247 views)</p>

            <h2 class="title">
              Proper Planning and Steps of Solo Adventure/Travelling in your budget.
            </h2>

            <div class="d-flex align-items-center">
              <img src="assets/img/blog/blog-author-3.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">Krishnan Iyer</p>
                <a href="tel:919904424159"><button type="button" class="btn btn-success">Call</button></a>
              <a href="chat.ejs"><button type="button" class="btn btn-primary">Chat</button></a>
              </div>
            </div>

          </article>
        </div>

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <article>

            <div class="post-img">
              <img src="assets/img/canva/health.jpg" alt="" class="img-fluid">
            </div>

            <p class="post-category">Health</p>
            <p class="post-author">4.6⭐ (3423 views)</p>

            <h2 class="title">
              Health is Wealth!! The best Advices to keep your heart healthy.
            </h2>

            <div class="d-flex align-items-center">
              <img src="assets/img/blog/blog-author-5.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">H.S Ghoyal</p>
                <a href="tel:919904424159"><button type="button" class="btn btn-success">Call</button></a>
              <a href="chat.ejs"><button type="button" class="btn btn-primary">Chat</button></a>
              </div>
            </div>

          </article>



        </div>

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <article>

            <div class="post-img">
              <img src="assets/img/canva/food/1.jpg" alt="" class="img-fluid">
            </div>

            <p class="post-category">Cooking</p>
            <p class="post-author">4.5⭐ (12991 views)</p>


            <h2 class="title">
              Authentic recipes of Grandmother times with little ingredients.
            </h2>

            <div class="d-flex align-items-center">
              <img src="assets/img/blog/comments-4.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">Cook With Shetty</p>
                <a href="tel:919904424159"><button type="button" class="btn btn-success">Call</button></a>
              <a href="chat.ejs"><button type="button" class="btn btn-primary">Chat</button></a>
              </div>
            </div>

          </article>



        </div>

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <article>

            <div class="post-img">
              <img src="assets/img/canva/date/1.jpg" alt="" class="img-fluid">
            </div>

            <p class="post-category">Dating</p>
            <p class="post-author">4.3⭐ (1209 views)</p>
            <h2 class="title">
              Know the best spot/places to take your partner on a perfect date
            </h2>

            <div class="d-flex align-items-center">
              <img src="assets/img/blog/blog-author-4.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">Sharon</p>
                <a href="tel:917386522501"><button type="button" class="btn btn-success">Call</button></a>
                <a href="chat.ejs"><button type="button" class="btn btn-primary">Chat</button></a>
              </div>
            </div>

          </article>

        </div>

        

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <article>

            <div class="post-img">
              <img src="assets/img/canva/food/2.jpg" alt="" class="img-fluid">
            </div>

            <p class="post-category">Cooking</p>
            <p class="post-author">4.0⭐ (1018 views)</p>

            <h2 class="title">
              Prepare a simple ,tasty and exotic food just in 5 minutes.
            </h2>

            <div class="d-flex align-items-center">
              <img src="assets/img/blog/blog-author-3.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">Rohan Sharma</p>
                <a href="tel:917386522501"><button type="button" class="btn btn-success">Call</button></a>
              <a href="chat.ejs"><button type="button" class="btn btn-primary">Chat</button></a>
              </div>
            </div>

          </article>



        </div>

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <article>

            <div class="post-img">
              <img src="assets/img/canva/guitar.jpg" alt="" class="img-fluid">
            </div>

            <p class="post-category">Music</p>
            <p class="post-author">3.9⭐ (1897 views)</p>
            <h2 class="title">
              Best Instrument to start your music journey...
            </h2>

            <div class="d-flex align-items-center">
              <img src="assets/img/blog/comments-5.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">Arjith Singh</p>
                <a href="tel:917386522501"><button type="button" class="btn btn-success">Call</button></a>
              <a href="chat.ejs"><button type="button" class="btn btn-primary">Chat</button></a>
              </div>
            </div>

          </article>



        </div>

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <article>

            <div class="post-img">
              <img src="assets/img/canva/date/2.jpg" alt="" class="img-fluid">
            </div>

            <p class="post-category">Dating</p>
            <p class="post-author">3.8⭐ (1409 views)</p>

            <h2 class="title">
              Secrets of Having a Long lasting Relationships, Happily Ever After!
            </h2>

            <div class="d-flex align-items-center">
              <img src="assets/img/blog/comments-2.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">Rahul</p>
                <a href="tel:917386522501"><button type="button" class="btn btn-success">Call</button></a>
              <a href="chat.ejs"><button type="button" class="btn btn-primary">Chat</button></a>
              </div>
            </div>

          </article>



        </div>

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <article>

            <div class="post-img">
              <img src="assets/img/canva/travel/3.jpeg" alt="" class="img-fluid">
            </div>

            <p class="post-category">Travel</p>
            <p class="post-author">3.5⭐ (2456 views)</p>
            <h2 class="title">
              Remember the Manali trip by visiting these  Extraordinary places.
            </h2>

            <div class="d-flex align-items-center">
              <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">Naina</p>
                <a href="tel:917386522501"><button type="button" class="btn btn-success">Call</button></a>
              <a href="chat.ejs"><button type="button" class="btn btn-primary">Chat</button></a>
              </div>
            </div>

          </article>



        </div>

        
      </div>

    </div>

  </section>