<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRUE-K</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">

  <link href="assets/css/style2.css" rel="stylesheet">
  <link href="assets/img/favicon.png" rel="icon">


</head>
<body>


<div class="container">
<h3 class=" text-center">Kalki Saxena</h3>
<div class="messaging">
  <div class="inbox_msg">
    <div class="mesgs">
      <div class="msg_history">

        <div class="outgoing_msg">
          <div class="sent_msg">
            <p>Hi Saxena, this is kumar, I was coming with my partner this saturday and I wanted to know the best places in hyderabad where I we can go out and have to spend less</p>
            <span class="time_date"> 11:0 AM    |    Aug 25</span> </div>
        </div>

        <div class="incoming_msg">
          <div class="incoming_msg_img"> <img src="assets/img/blog/blog-author-2.jpg" alt="sunil"> </div>
          <div class="received_msg">
            <div class="received_withd_msg">
              <p>Hey Kumar, weekends are quite full here in hyderabad, tho you can try some good places at Gachiboli, what is budget?</p>
              <span class="time_date"> 11:01 AM    |    Aug 25</span></div>
          </div>
        </div>
        <div class="outgoing_msg">
          <div class="sent_msg">
            <p>My budget is only 3000rs</p>
            <span class="time_date"> 11:01 AM    |    Aug 25</span> </div>
        </div>
        <div class="incoming_msg">
          <div class="incoming_msg_img"> <img src="assets/img/blog/blog-author-2.jpg" alt="sunil"> </div>
          <div class="received_msg">
            <div class="received_withd_msg">
              <p>Oh then you can go to Gachiboli. There are some resturatants I have been, "Oye Dhaba" or "Moneko Resturatant"</p>
              <span class="time_date"> 11:02 AM    |    Aug 25</span></div>
          </div>
        </div>
        <div class="outgoing_msg">
          <div class="sent_msg">
            <p>That sounds good, do you suggest any timing for going there?</p>
            <span class="time_date"> 11:02 AM    |    Aug 25</span> </div>
        </div>
        <div class="incoming_msg">
          <div class="incoming_msg_img"> <img src="assets/img/blog/blog-author-2.jpg" alt="sunil"> </div>
          <div class="received_msg">
            <div class="received_withd_msg">
              <p>You can go in the evening, it's really calm and good at that time or you can also go any time because these resturatants are good not less crowded and not really known by everyone</p>
              <span class="time_date"> 11:03 AM    |    Aug 25</span></div>
          </div>
        </div>
        <div class="outgoing_msg">
          <div class="sent_msg">
            <p>Thanks Saxena</p>
            <span class="time_date"> 11:03 AM    |    Aug 25</span> </div>
        </div>
        <div class="incoming_msg">
          <div class="incoming_msg_img"> <img src="assets/img/blog/blog-author-2.jpg" alt="sunil"> </div>
          <div class="received_msg">
            <div class="received_withd_msg">
              <p>Glad I could help, don't forget to rate</p>
              <span class="time_date"> 11:03 AM    |    Aug 25</span></div>
          </div>
        </div>
        <div class="outgoing_msg">
          <div class="sent_msg">
            <p>Sure</p>
            <span class="time_date"> 11:04 AM    |    Aug 25</span> </div>
        </div>
      </div>
      <div class="type_msg">
        <div class="input_msg_write">
          <input type="text" class="write_msg" placeholder="Type a message" />
          <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
          <a href="#"><button type="button" class="btn btn-primary">Rate</button></a>
          <br>
        </div>
        
      </div>
      
    </div>
  </div>
  
  
  
</div>
</div>


</body>
</html>