<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TRUE-K</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <link href="assets/css/main.css" rel="stylesheet">

</head>

<body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">


  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">



   

    <%- include('partials/header') %>




    </div>
  </header>




  <main id="main">

    <section id="hero" class="hero">

      <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

      <div class="container">
        <div class="row">
          <div class="col-lg-10">
            <h2 data-aos="fade-up" data-aos-delay="100">Welcome to True-K</h2>
            <p data-aos="fade-up" data-aos-delay="200">A True Macro-Knowledge Based Freelancing Platform</p>
          </div>
          <div class="col-lg-5">
            <form action="#" class="sign-up-form d-flex" data-aos="fade-up" data-aos-delay="300">
              <input type="text" class="form-control" placeholder="Search by Category">
              <input href="/search.ejs" type="submit" class="btn btn-primary" value="Search Now">
            </form>
          </div>
        </div>
      </div>

    </section>

    <section id="clients" class="clients">

      <div class="container-fluid" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <h3>Music</h3>
          </div>

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <h3>Travel</h3>
        </div>

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <h3>Cooking</h3>
        </div>

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <h3>Fashion</h3>
        </div>

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <h3>Tech</h3>
          </div>

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <h3>And More</h3>
            <h1>...!</h1>
        </div>

        </div>

      </div>

    </section>

    <section id="about" class="about">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-xl-center gy-5">

          <div class="col-xl-5 content">
            <h3>About Us</h3>
            <h2>We connect local experts with those lacking specific knowledge</h2>
            <p>In a digital age of abundant information, true wisdom from experience is rare. Our mission is to bridge this gap, enabling global seekers to access valuable offline insights for informed decisions.</p>
            <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>

          <div class="col-xl-7">
            <div class="row gy-4 icon-boxes">

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                  <i class="bi bi-egg-fried"></i>
                  <h3>Cooking</h3>
                  <p>Don't know how to cook? Chat with our cooking guide -> List the things you have -> Prepare a your meal -> Have a tasty meal.</p>
                </div>
              </div> 

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                  <i class="bi bi-arrow-through-heart-fill"></i>
                  <h3>Dating</h3>
                  <p>Are you looking for best places to have some good time with your partner in a particular city ?? Look at the reviews of our dating advisor, select the best person who has been through it and take suggestion on it.</p>
                </div>
              </div> 

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box">
                  <i class="bi bi-music-note-beamed"></i>
                  <h3>Instrument</h3>
                  <p>Want to learn music? Don't know which Instrument to use? Find here.</p>
                </div>
              </div> 

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="icon-box">
                  <i class="bi bi-airplane-engines"></i>
                  <h3>Travelling</h3>
                  <p>New Way To Travel!!! is to find a best person who have travelled that place. Chat/Call our Travelers -> Find the famous places to visit in the city. Happy Travelling.</p>
                </div>
              </div> 

            </div>
          </div>

        </div>
      </div>

    </section>

    <section id="stats" class="stats">

      <img src="assets/img/stats-bg.jpg" alt="" data-aos="fade-in">

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="2321" data-purecounter-duration="1" class="purecounter"></span>
              <p>Cooking / day</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="5211" data-purecounter-duration="1" class="purecounter"></span>
              <p>Health / day</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="3453" data-purecounter-duration="1" class="purecounter"></span>
              <p>Dating Advice / day</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="2023" data-purecounter-duration="1" class="purecounter"></span>
              <p>Fast Fashion / day</p>
            </div>
          </div>

        </div>

      </div>

    </section>

    <section id="services" class="services">

      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>Embark on captivating digital journeys that seamlessly guide you through the process of sharing and acquiring wisdom.</p>
      </div>

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="100">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Affordable</a></h4>
                <p class="description">Our services are available at a affordable price. As the cost of subscription is only 50₹ per month</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="200">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Freelancing</a></h4>
                <p class="description">We provide platform where you can earn by  becoming freelancer with your passion/interest or skills like cooking, music etc...</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="300">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Bridging Users & Experts</a></h4>
                <p class="description">We remove the boundary between users and experts so that user can get their  personal queries answered.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="400">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-binoculars"></i></div>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Timing Saving</a></h4>
                <p class="description">Add value by saving your time by getting answers of your macro questions.</p>
              </div>
            </div>
          </div>

          

        </div>

      </div>

    </section>


    

    <section id="pricing" class="pricing">

      
      <div class="container section-title" data-aos="fade-up">
        <h2>Pricing</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div>

      <div class="container" data-aos="zoom-in" data-aos-delay="100">

        <div class="row g-4">

            <div class="col-lg-4">
            <div class="pricing-item featured">
              <h3>Business Plan</h3>
              <div class="icon">
                <i class="bi bi-rocket"></i>
              </div>

              <h4><sup>₹</sup>50<span> / month</span></h4>
              <h4><span>or</span></h4>
              <h4><sup>$</sup>1<span> / month</span></h4>

              <ul>
                <li><i class="bi bi-check"></i> <span>Full Access to All True-K Lancer</span></li>
                <li><i class="bi bi-check"></i> <span>Personalized Recommendation</span></li>
                <li><i class="bi bi-check"></i> <span>Get 5GB Cloud Storage for all your chats</span></li>
                <li><i class="bi bi-check"></i> <span>Free Internet Calling</span></li>
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
            </div>
          </div>

          

        </div>

      </div>

    </section>

    

    <section id="team" class="team">

      <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>Our team blends coding, server expertise, design creativity, and user interaction to enhance your knowledge journey.</p>
      </div>

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-3 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="assets/img/team/kumar.png" class="img-fluid" alt="">
              
            </div>
            <div class="member-info text-center">
              <h4>Kumar Sahani</h4>
              <span>Team lead & Backend Developer</span>
              <p>I'm Kumar, leading backend for Local-to-Global. With 3 years' coding mastery, I optimize APIs, databases, and data security.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="assets/img/team/devanshi.jpeg" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Devanshi Joshi</h4>
              <span>Frontend Developer & Graphic Designer</span>
              <p>I'm Devanshi, molding Local-to-Global's design and experience. From interactions to visuals, I make wisdom sharing engaging.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="assets/img/team/ganesh.jpeg" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Mandadi Ganesh</h4>
              <span>Support Backend Developer</span>
              <p>I'm Ganesh, vital to Local-to-Global's backend. With strong server-side skills, I optimize code, troubleshoot, and collaborate on our vision with the main backend developer.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img src="assets/img/team/vaishnavi.jpeg" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Mhetre Vaishnavi</h4>
              <span>Frontend Developer & Content Writer</span>
              <p>I'm Vaishnavi, crafting Local-to-Global's front-end. Passionate about user-centric design, I create captivating journeys, turning designs into seamless wisdom-sharing interfaces.</p>
            </div>
          </div>

          

        </div>

      </div>

    </section>



    <section id="contact" class="contact">

      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div>

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="200">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>Kachiguda</p>
                  <p>Hyderabad, 50007</p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="300">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+91 8143916500</p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="400">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>kumarsahani1311@gmail.com</p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="500">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>Monday - Friday</p>
                  <p>9:00AM - 05:00PM</p>
                </div>
              </div>

            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div>

        </div>

      </div>

    </section>

  </main>

    <%- include('partials/footer') %>
  

  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <script src="assets/js/main.js"></script>

</body>

</html>